<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../styles/main.css"/>
</head>

<body>

<div class="navbar navbar-inverse" style="min-height:35px">
  <div class="nav-collapse" style="height:auto">
    <ul class="nav">
      <li >
        <a href="items.html">Let's Go</a>
      </li>
      <li >
        <a href="../index.html">主页</a>
      </li>
      <li class="active">
        <a href="items.html">商品列表</a>
      </li>
      <li class="shopping-cart">
        <a href="cart.html">
          <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">2</span>)
        </a>
      </li>
    </ul>
  </div>
</div>

<table class="table table-bordered table-items">
  <caption id="items-list">商品列表</caption>
  <thead>
    <tr>
      <th>名称</th>
      <th>单价(元)</th>
      <th>单位</th>
      <th>添加</th>
    </tr>
  </thead>
  <tbody id ="items-table">
  </tbody>
</table>


<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/model/promotion.js"></script>
<script type="text/javascript" src="../scripts/model/shopping_cart.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>
<script type="text/javascript" src="../scripts/utils.js"></script>
<script type="text/javascript" src="../scripts/item_list.js"></script>

</body>
</html>
