<% content_for :navlis do%>
<ul class="nav">
  <li >
    <a href="/views/items.html">Let's Go</a>
  </li>
  <li >
    <a href="/index.html">主页</a>
  </li>
  <li class="active">
    <a href="/views/items.html">商品列表</a>
  </li>
  <li class="shopping-cart">
    <a href="/views/cart.html">
      <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">2</span>)
    </a>
  </li>
</ul>
<% end %>

<table class="table table-bordered table-items">
  <caption id="items-list">商品列表</caption>
  <thead>
    <tr>
      <th>名称</th>
      <th>单价(元)</th>
      <th>单位</th>
      <th>添加</th>
    </tr>
  </thead>
  <tbody id ="items-table">
  </tbody>
</table>
