<%= erb :'layout/_nav' %>

<div class="container">
  <div class="pay-table container table-responsive">
    <table class="table table-bordered table-items table-hover">
      <caption id="items-list">商品列表</caption>
      <thead>
        <tr>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>数量</th>
          <th>描述信息</th>
          <th>添加</th>
        </tr>
      </thead>
      <tbody id="items-table">
      </tbody>
    </table>
  </div>
</div>

<% content_for :script_chunk do %>
  <script type="text/javascript" src="/scripts/model/item.js"></script>
  <script type="text/javascript" src="/scripts/model/promotion.js"></script>
  <script type="text/javascript" src="/scripts/model/shopping_cart.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
  <script type="text/javascript" src="/scripts/utils.js"></script>
  <script type="text/javascript" src="/scripts/item_list.js"></script>
<% end %>
