<%= erb :'layout/_nav_user' %>
<%= erb :'layout/_flash_page' %>

<div class="container">
  <div class="register">
    <div class="register-title"><p>新用户注册<p></div>
    <form id="registerForm"action="/user/register" class="form-horizontal" role="form" method="post">
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="userame">用户名</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="username" placeholder="用户名">
          </div>
      </div>
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="password">密  码</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" name="password" placeholder="密码">
          </div>
      </div>
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="name">姓 名</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="name" placeholder="姓名">
          </div>
      </div>
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="address">地 址</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="address" placeholder="地址">
          </div>
      </div>
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="telephone">电 话</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="telephone" placeholder="电话">
          </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id = "loginSubmit" class="btn btn-primary">提交</button>
        </div>
    </div>
    </form>
  </div>
</div>

<% content_for :script_chunk do %>
<link rel="stylesheet" href="/styles/register.css"/>
<link rel="stylesheet" href="/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/lib/bootstrap-validator/bootstrapValidator.min.css"/>
<script type="text/javascript" src="/lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-validator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/scripts/model/register.js"></script>
<% end %>
