.login{
  border: 2px solid #F0F0F0;
  margin: 0 auto;
}
.login-title{
  font-size: 20px;
  min-height:45px;
  text-align: center;
  background-color:#F0F0F0;
  line-height :45px;
}
.notice{
  font-color:red;
}
#select{
  min-height:40px;
  background-color:#F0F0F0;

}
