.nav li{
  float:left;
  margin:10px;
  display:inline;
}
.nav li a{
  display:inline;
  font-size:18px;
  color:lightgray;
}
.nav .active a{
  color:white;
}
.nav .active a:hover{
  color:gray;
}
#container{
  background-color:whitesmoke;
  width:1200px;
  height:500px;
  margin:0 auto;
  padding:50px;
}
#container h1{
  font-size:60px;
}
#container p{
  font-size:20px;
  align:justify;
}
#container a{
  color:#ffffff;
  text-decoration:none;
}
.table-items{
  margin:0 auto;
}
#items-list{
  font-size:25px;
  padding-top:15px;
  padding-bottom:10px;
  background-color:#E0E0E0;
}
th{
  width:300px;
}
.pay-table{
  border:1px solid #D0D0D0;
  padding: 0px;
}
#summary{
  margin-top:10px;
}
.btn-size{
  margin-bottom:10px;
}
.btn-back{
  margin:10px;
}
#pay-table-title{
  font-size:25px;
  padding-top:15px;
  padding-bottom:10px;
  background-color:#E0E0E0;
}
#item-num{
  width:31px;
  height:31px;
  margin:0;
}
.item-manage{
  text-align:center;
}
.item-manage a{
  color:#ffffff;
  font-size:30px;
  text-decoration:none;
}
.add-items{
  width:1200px;
  border:2px solid #D0D0D0;
  margin:20px auto;
}

.form-control{
  width:80%;
}
.form-group{
  margin-top:15px;
}
