.register{
  border: 2px solid blanchedalmond;
  margin: 0 auto;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px plum;
}
.register-title{
  font-size: 20px;
  min-height:45px;
  text-align: center;
  background-color:lightsalmon;
  line-height :45px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px plum;
}
