<nav class="navbar navbar-inverse">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav">
      <li>
        <a href="/">主页</a>
      </li>
      <li>
        <a href="/views/items.html">商品列表</a>
      </li>
      <% if session[:username] %>
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <%= session[:username]%>
          </a>
          <ul class="dropdown-menu">
              <li><a href="/user/orders"><span class="glyphicon glyphicon-cog"></span> 我的订单</a></li>
             <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
             <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Exit</a></li>
          </ul>
        </li>
      <% else %>
        <li class="pull-right">
          <a href="/login">登录</a>
        </li>
        <li class="pull-right">
          <a href="/user/register" id="register">注册</a>
        </li>
      <% end %>
      <% if session[:username] %>
        <li class="pull-right">
          <div id="cart">
            <a href="/views/cart.html">
              <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count"></span>)
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
