<nav class="navbar navbar-inverse">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav">
      <li>
        <a href="/">主页</a>
      </li>
      <li>
        <a href="/views/items.html">商品列表</a>
      </li>
      <li class="pull-right">
        <a href="/login">登录</a>
      </li>
      <li class="pull-right">
        <a href="/user/register" id="register">注册</a>
      </li>
      <li class="pull-right">
        <a href="/views/cart.html">
          <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count"></span>)
        </a>
      </li>
    </ul>
  </div>
</nav>
