<div class="navbar navbar-inverse" style="min-height:35px">
  <div class="nav-collapse" style="height:auto">
    <ul class="nav">
      <li>
        <% if session[:username] == "admin" %>
          <a href="">Admin</a>
        <% else %>
          <a href="/login">登陆</a>
        <% end %>
      </li>
      <li>
        <a href="/">主页</a>
      </li>
      <li>
        <a href="/views/items.html">商品列表</a>
      </li>
      <li class="shopping-cart">
        <a href="/views/cart.html">
          <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count"></span>)
        </a>
      </li>
      <li class="admin">
        <a href="/admin">商品管理</a>
      </li>
    </ul>
  </div>
</div>